*{
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right,#01022d,#000);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenr{
    background-image:linear-gradient(to right ,#01022de5 30% ,#00000088), 
    url(download.webp);
    width: 75%;
    height: 650px;
    border-radius: 40px;
}
.contenr:hover{
    background-image:linear-gradient(to right ,#01022de5 30% ,transparent), 
    url(download.webp);
    width: 75%;
    height: 650px;
    background-position: center;
    border-radius: 40px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: white;
}
.content{
    color: white;
    width: 50%;
    margin: 50px;
    padding: 30px;
}
.content h2{
    font-size: 100px;
}
.content p{
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0;
    border: 2px solid transparent;
}
.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 15px;
    cursor: pointer;
}
.content button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}